@model E_Ticaret_2023.Models.Kategoriler

@{
    ViewBag.Title = "Delete";
}


<div>
    <h2>Kategori Silinsin mi?</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> 
            @Html.ActionLink("Kategoriler", "Index", "", new { @class = "btn btn-warning btn-sm" })
        </div>
    }
</div>
