@model E_Ticaret_2023.Models.Kategoriler

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Ayrıntı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Kaydet", "Edit", new { id = Model.KategoriId }, new { @class = "btn btn-success btn-sm" }) 
    @Html.ActionLink("Kategoriler", "Index", "", new { @class = "btn btn-warning btn-sm" })

</p>
