@using E_Ticaret_2023.Models
@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4 " aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Kategoriler</h2>
            <ul class="list-group" >
               

               @foreach (var item in (List<Kategoriler>)ViewBag.KategoriListesi  )
               { //class="btn btn-outline-dark"
                   <li class="btn btn-outline-dark btn-sm col-md-4  " style="margin-top:4px" >
                       @item.KategoriAdi &raquo;
                   </li>
         
               }

            </ul>
        </section>


        <section class="col-md-8" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Ürünler</h2>
            
            <div class="row" style="margin:50px;">

                @foreach (var item in (List<Urunler>)ViewBag.UrunListesi)
                {
                  
                    
                    <div class="col-md-4 card " style="width:18rem; border: 1px solid; margin-bottom: 10px; margin-right: 10px">

                        <h5>@item.UrunAdi</h5>
                        <img src="~/Resim/@(item.UrunId).jpg" class="card-img-top" alt=" Yükleniyor.." a width="200"/>
                        <div class="card-body">
                          <p class="card-text">

                            <a href="/Urunler/Details/@item.UrunId" class="btn btn-secondary btn-sm" style="margin:4px">Ürün Detay &raquo; </a>
                        </p>

                        </div>
                        <p> <span style="font-size:14px; font-weight:bold; float:right">  @item.UrunFiyati ₺ </span></p>
                    </div>

                 }

            </div>

        </section>
       
    </div>
</main>