@using E_Ticaret_2023.Models
@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4 " aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Kategoriler</h2>
            <ul>
               
               @foreach (var item in (List<Kategoriler>)ViewBag.KategoriListesi  )
               { //class="btn btn-outline-dark"
                   <li class="btn btn-outline-dark btn-sm " style="float:" >
                       @item.KategoriAdi &raquo;
                   </li>
         
               }

            </ul>
        </section>


        <section class="col-md-8" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Ürünler</h2>
            
            <div class="row" style="margin:50px;">

                @foreach (var item in (List<Urunler>)ViewBag.UrunListesi)
                 {
                   <div class="col-md-4" style="border: 1px solid; margin-bottom:10px;margin-right:10px">
                       <h5>@item.UrunAdi</h5>
                       <img src="~/Resim/@(item.UrunId).jpg" width="80" height="80"/>
                       <p>
                           <a href="/Home/Urun/@item.UrunId" class="btn btn-secondary btn-sm"style="margin:4px">Ürün Detay &raquo; </a> 
                       </p>
                       <p> <span style="font-size:14px; font-weight:bold; float:right">  @item.UrunFiyati ₺ </span></p>
                   </div>

                 }

            </div>

        </section>
       
    </div>
</main>